.container {
  display: flex;
  flex-direction: column;
  background: #252934;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  box-sizing: border-box;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  animation: wave 4s ease infinite;
}

.item:nth-child(1) {
  animation-delay: 0.2s;
}

.item:nth-child(2) {
  animation-delay: 0.4s;
}

.item:nth-child(3) {
  animation-delay: 0.6s;
}

.item:nth-child(4) {
  animation-delay: 0.8s;
}

.item:nth-child(5) {
  animation-delay: 1.0s;
}

.item:nth-child(6) {
  animation-delay: 1.2s;
}

.item:nth-child(7) {
  animation-delay: 1.4s;
}

.item:nth-child(8) {
  animation-delay: 1.6s;
}

.item:nth-child(9) {
  animation-delay: 1.8s;
}

.item:nth-child(10) {
  animation-delay: 2.0s;
}

.item:nth-child(11) {
  animation-delay: 2.2s;
}

.item:nth-child(12) {
  animation-delay: 2.4s;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 65px;
  height: 65px;
  flex-direction: column;
}

.iconContainer svg {
  height: 100%;
  width: 50%;
  color: #ececec;
  opacity: 0.75;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(6, 1fr);
  }

  .iconContainer {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(6, 1fr);
  }

  .iconContainer {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .iconContainer {
    width: 85px;
    height: 50px;
  }

  .iconContainer svg {
    height: 50%;
    width: 30%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  .iconContainer {
    width: 85px;
    height: 50px;
  }

  .iconContainer svg {
    height: 50%;
    width: 30%;
  }
}

@media only screen and (max-width: 320px) {
  .containerGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  .iconContainer {
    width: 70px;
    height: 70px;
  }
}