.container {
  height: 70vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  --tw-border-opacity: 1;
  border: solid 1px rgba(229, 231, 235, var(--tw-border-opacity));
  justify-content: center;
  margin-top: 5%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.containerGrid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 300px;
  justify-items: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  flex-direction: column;
}

.icon {
  width: 100%;
  height: 100%;
}

.name {
  text-align: center;
  font-weight: 900;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(0, 8, 61, var(--tw-text-opacity));

}

.technologyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.list {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.75rem;
  opacity: .85;
  --tw-text-opacity: 1;
  color: rgba(91, 110, 128, var(--tw-text-opacity));
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    height: auto;
    margin-top: 50%;
  }

  .containerGrid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
    padding-top: 4rem;

  }

  .iconContainer {
    width: 70px;
    height: 70px;
  }

  .name {
    font-size: 1.5rem;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .list {
    font-size: 1.125rem;
  }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    height: auto;
  }

  .containerGrid {
    display: flex;
    flex-direction: column;
  }

  .iconContainer {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 12px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .containerGrid {
    gap: 5px;
    width: 90%;
  }

  .iconContainer {
    width: 130px;
    height: 130px;
  }

  .name {
    font-size: 14px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .container {
    height: auto;
  }

  .iconContainer {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 16px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .iconContainer {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 16px;
  }

}