.home {
  height: 100vh;
}

.content {
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.description {
  --tw-text-opacity: 1;
  color: rgba(91, 110, 128, var(--tw-text-opacity));
  font-family: -apple-system-body, sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

.title {
  font-family: -apple-system-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.75rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.title h1 {
  margin: 0;
}

.btnContainer {
  display: flex;
  align-content: center;
}

.btn1 {
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-image: linear-gradient(90deg, #009bff, #0062ff);
  box-shadow: 0 2px 8px 0 rgba(0, 34, 255, .08), 0 2px 8px 0 rgba(0, 11, 80, .12);
  z-index: 1;
  border-radius: 9999px;
  position: relative;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-weight: 700;
  display: inline-block;
  text-decoration: inherit
}

.btn2 {
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 9999px;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(0, 98, 255, var(--tw-text-opacity));
  font-weight: 700;
  display: inline-block;
  text-decoration: inherit;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .home h1 {
    font-size: 55px;
    line-height: 45px;
    letter-spacing: 0px;
  }

  .content {
    width: 90%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .description {
    justify-content: center;
    margin-left: 0;
  }

  .description p {
    text-align: center;
    font-size: 10px;
  }

  .title {
    justify-content: center;
  }

  .title h2 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 766px) {

  .content {
    width: 90%;
  }

}