.home {
  display: flex;
  height: 100vh;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 2rem;
}

.title {
  font-family: -apple-system-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.75rem;
  line-height: 1;
  color: var(--primary-color-text)
}

.title h1 {
  margin: 0;
}

.description {
  color: var(--secondary-color-text);
  font-family: -apple-system-body, sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

.btnContainer {
  display: flex;
  align-content: center;
}

@media only screen and (max-width: 320px) {

  .home {
    height: auto;
  }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .home {
    height: auto;
  }

  .home h1 {
    font-size: 2.5rem;
    line-height: 45px;
    letter-spacing: 0px;
  }

  .content {
    width: 90%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .description {
    justify-content: center;
    margin-left: 0;
  }

  .description p {
    text-align: center;
    font-size: 1.125rem;
  }

  .title {
    justify-content: center;
  }

}

@media only screen and (min-width: 481px) and (max-width: 766px) {

  .home {
    height: auto;
    width: 90%;
  }

  .content {
    width: 90%;
  }

}

@media only screen and (min-width: 926px) and (max-width: 1114px) {

  .home {
    height: auto;
  }

}