.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
  background: var( --dark-color);
  flex-direction: column;
}

.container h3 {
  font-size: 6rem;
  line-height: 1.1;
  color: var(--light-color);
  margin: 0;
}

.container p {
  color: var(--light-color);
  font-size: 1.125rem;
  text-align: center;
}

.content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.btnGlobal {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  text-align: center;
   color: var(--light-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

.ribbon {
  background-color: var(--primary-color-text);
   color: var(--light-color);
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.ribbonText {
  display: inline-block;
  animation: scrollText 180s linear infinite;
  padding-left: 100%;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 480px) {
  .container {
    min-height: auto;
    padding: 20px;
  }

  .container h3 {
    font-size: 4rem;
  }

  .content {
    width: 90%;
  }

  .btnGlobal {
    margin-top: 10px;
  }

  .ribbon {
    display: none;
  }
}