.container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  --tw-border-opacity: 1;
  border: solid 1px rgba(229, 231, 235, var(--tw-border-opacity));
  padding-right: 2rem;
  padding-left: 2rem;
}

.container p {
  --tw-text-opacity: 1;
  color: rgba(91, 110, 128, var(--tw-text-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-width: 48rem;
  text-align: center;
}

.containerFlex {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-right: 1.5rem;
  width: 66.666667%;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.item h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 8, 61, var(--tw-text-opacity));
  font-weight: 900;
  margin: 0;
  margin-bottom: 0.75rem;

}

.item p {
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(0, 98, 255, var(--tw-text-opacity));
  margin: 0;
  margin-left: 10px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 33.333333%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactItem {
  --tw-text-opacity: 1;
  color: rgba(91, 110, 128, var(--tw-text-opacity));
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: inherit;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contactItem:hover {
  --tw-text-opacity: 1;
  color: rgba(0, 98, 255, var(--tw-text-opacity));
}

.btn1 {
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-image: linear-gradient(90deg, #009bff, #0062ff);
  box-shadow: 0 2px 8px 0 rgba(0, 34, 255, .08), 0 2px 8px 0 rgba(0, 11, 80, .12);
  z-index: 1;
  border-radius: 9999px;
  position: relative;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-weight: 700;
  display: inline-block;
  text-decoration: inherit
}

.btn1:hover {
  background-image: linear-gradient(90deg, #0062ff, #009bff);
  color: rgba(255, 255, 255, 1);
}

.availabilityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.blinkingCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  --tw-text-opacity: 1;
  background-color: rgba(0, 98, 255, var(--tw-text-opacity));
  margin-left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 98, 255, 0.1);
}

@keyframes pulseShadowAnimation {

  0%,
  100% {
    box-shadow: 0 0 10px 0 rgba(0, 98, 255, 0.1);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(0, 98, 255, 0.5);
  }
}

.blinkingCircle {
  animation: pulseShadowAnimation 2s infinite;
}

@media only screen and (max-width: 480px) {
  .container {
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .containerFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    font-size: 18px;
  }

  .linksContainer {
    width: 100%;
  }

  .linksContainer a {
    text-align: center;
    font-size: 1.125rem;
  }

  .item {
    padding-right: 0;
    align-items: center;
    width: 85%;
  }

  .item h3 {
    font-size: 1.5rem;
    text-align: center;
    ;
  }

  .item p {
    font-size: 1.125rem;
  }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    height: auto;
  }

  .linksContainer {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    width: 100%;
    padding: 0;
  }

  .linksContainer {
    width: 100%;
  }

  .containerFlex {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .container {
    height: auto;
  }
}