.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.nameLink {
  justify-self: start;
  gap: 0.25rem;
  align-items: center;
  display: flex;
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgba(0, 98, 255, var(--tw-text-opacity));
}

.nameLink h1 {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.nameLink span {
  font-size: .8rem;
  line-height: 1.75rem;
}

.links {
  display: flex;
  justify-self: end;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  --tw-text-opacity: 1;
  color: rgba(91, 110, 128, var(--tw-text-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: inherit;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
}

.links a:hover {
  --tw-text-opacity: 1;
  color: rgba(0, 98, 255, var(--tw-text-opacity));
}

.menuIcon {
  display: none;
}

.iconBar {
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 4px;
  border-radius: 10px;
}

.iconBar:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 835px) {
  .links {
    display: none;
    transform: translateX(-100%);
  }

  .container {
    justify-content: space-between;
    width: 80%;

  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .links.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    padding: 10px;
    background: white;
    align-items: flex-start;
    gap: 20px;
    animation: slideIn 0.2s ease-in-out 0.2s forwards;
    z-index: 1;
  }

  .links.open a {
    margin: 0;
    color: #000000;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 2px solid #000000;
  }

  .nameLink {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: start;
    gap: 0.25rem;
    margin: 0;
  }

  .menuIcon {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    left: 80%;
    cursor: pointer;
    z-index: 999;
  }

}