.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var( --dark-color);
}

.textContainer h1 {
  color: var(--light-color);
  margin: 0;
}

.textContainer p {
  color: var(--light-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 60%;
  height: 80vh;
  justify-content: center;
}

.tile {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.tile img {
  width: 100%;
}

.tile:hover {
  background-color: #f0f0f0;
  opacity: 7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 1.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile:hover .overlay {
  opacity: 7;
}

.overlayDescription {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.overlayButton {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--primary-color-text);
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.overlayButton:hover {
  background: var(--primary-color-text);
}

.projectDescription {
  display: none;
}

.tile:hover .projectDescription {
  display: block;

  color: #333;
  font-size: 14px;
}

@media only screen and (max-width: 834px) {

  .container {
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr;
    width: 90%;
    height: 100%;
    justify-items: center;
    margin-bottom: 10%;
  }

  .tile {
    width: 100%;
    height: auto;
  }

  .tiles {
    flex-direction: column;
    align-items: center;
  }
}