.footerContainer {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141c3a;
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10%;
  color: #ffffff;
}

.socialContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 75%;
  margin-bottom: 20px;
}

.socialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialLinks a {
  display: flex;
  background-color: transparent;
  color: #ffffff;
  border-radius: 100%;
  margin: 0 0.2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
}

.footerText {
  margin-top: 20px;
  font-size: 1rem;
  opacity: 0.8;
  color: #ffffff;
}

@media (max-width: 635px) {
  .footerContainer {
    padding: 20px;
  }

  .socialAndNavigationContainer {
    flex-direction: column;
    align-items: center;
  }

  .socialLinks,
  .navigationLinks {
    align-items: center;
    text-align: center; 
  }

  .footerText {
    font-size: 10px;
  }
}
