.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.sideBySide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 30%;
}

.firstTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: rgba(0, 8, 61, 1);
}

.firstDescription {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(91, 110, 128, 1);
    width: 70%;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.imgContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.imgContainer {
    margin: 10px;
}

.imgProject {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05), 0 16px 34px 0 rgba(0, 0, 0, .1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.imgProject:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05), 0 8px 17px 0 rgba(0, 0, 0, .1);
}

.content {
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 50%;
}

.itemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(91, 110, 128, 1);
    font-family: -apple-system-body, sans-serif;
    margin: 0;
    font-size: 1rem;
    justify-content: center;
    text-align: justify;
    height: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05), 0 16px 34px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.itemContent h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: monospace;
    margin: 0;
    color: rgba(0, 8, 61, 1);
}

.list {
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-feature-settings: "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    letter-spacing: .05em;
}

.containerDesign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.containerDesign img {
    width: 40%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05), 0 16px 34px 0 rgba(0, 0, 0, .1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.containerDesign img:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05), 0 8px 17px 0 rgba(0, 0, 0, .1);
}

@media only screen and (max-width: 320px) {

    .column {
        width: 100%;
    }

    .sideBySide {
        flex-direction: column;
        align-items: center;
    }
    
    .reverse .imgContainer {
        padding-top: 250px;
    }

    .imgProject {
        width: 100%;
    }

    .content,
    .reverse .content {
        display: none;
    }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {

    .column {
        width: 75%;
    }

    .sideBySide {
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin-top: 0;
    }

    .imgProject {
        width: 100%;
    }

    .content,
    .reverse .content {
        display: none;
    }

    .reverse .imgContainer {
        padding-top: 60px;
    }

    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .imgContent {
        width: 100%;
    }

    .firstDescription {
        font-size: 1.125rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 926px) {

    .column {
        width: 100%;
    }

    .sideBySide {
        flex-direction: column;
        align-items: center;
    }

    .imgContainer {
        margin-bottom: 35px;
    }
    
    .imgProject {
        width: 100%;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .title {
        text-align: center;
        position: static;
    }
}