.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
}

.firstTitle{
    font-size: 2.25rem;
    line-height: 2.5rem;
    --tw-text-opacity: 1;
    color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.firstDescription{
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(91, 110, 128, var(--tw-text-opacity));
    width: 70%;
    text-align: center;
    margin-bottom: 60px;
}

.reverse .firstTitle,
.reverse .firstDescription {
  display: none;
}

.content {
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
}

.imgContent {
    width: 70%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProject{
    width: 45%;
    border-radius: 20px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.05), 0 16px 34px 0 rgba(0,0,0,.1);
}

.link{
    font-variant-caps: all-small-caps;
    letter-spacing: .05em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.leftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgba(91, 110, 128, var(--tw-text-opacity));
    font-family: -apple-system-body, sans-serif;
    margin: 0;
    font-size: 1rem;
    justify-content: center;
    text-align: justify;
    height: 50%;
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.05), 0 16px 34px 0 rgba(0,0,0,.1);
    border-radius: 20px;
}

.leftContent h3{
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: monospace;
    margin: 0;
    --tw-text-opacity: 1;
    color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.list{
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-feature-settings: "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    letter-spacing: .05em;
}

.reverse .imgContainer {
    flex-direction: row-reverse;
}

.reverse .content {
    margin-right: 10%;
    margin-left: 0;
}

.reverse .imgProject {
    margin-left: 0;
    margin-right: 0; 
}

@media only screen and (max-width: 767px) {

    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .btnItem {
        text-align: center;
    }

    .btnContainer {
        gap: 5px;
        margin: 15px;
        position: static;
    }

    .title {
        text-align: center;
        font-size: 20px;
        position: static;
    }

    .imgContent:hover img {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 768px) and (max-width: 926px) {
    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .btnItem {
        text-align: center;
    }

    .btnContainer {
        gap: 15px;
        margin: 25px;
        position: static;
    }

    .title {
        text-align: center;
        position: static;
    }

    .imgContent:hover img {
        transform: scale(1.05);
    }
}