.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    --tw-text-opacity: 1;
    color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.firstDescription {
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(91, 110, 128, var(--tw-text-opacity));
    width: 70%;
    text-align: center;
    margin-bottom: 60px;
}

.reverse .firstTitle,
.reverse .firstDescription {
    display: none;
}

.imgContent {
    width: 70%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse .imgContainer {
    flex-direction: row-reverse;
}

.imgProject {
    width: 45%;
    border-radius: 20px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05), 0 16px 34px 0 rgba(0, 0, 0, .1);
}

.reverse .imgProject {
    margin-left: 0;
    margin-right: 0;
}

.content {
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
}

.reverse .content {
    margin-right: 10%;
    margin-left: 0;
}

.itemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgba(91, 110, 128, var(--tw-text-opacity));
    font-family: -apple-system-body, sans-serif;
    margin: 0;
    font-size: 1rem;
    justify-content: center;
    text-align: justify;
    height: 50%;
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05), 0 16px 34px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.itemContent h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: monospace;
    margin: 0;
    --tw-text-opacity: 1;
    color: rgba(0, 8, 61, var(--tw-text-opacity));
}

.list {
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-feature-settings: "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    letter-spacing: .05em;
}

@media only screen and (max-width: 320px) {

    .reverse .imgContainer {
        padding-top: 250px;
    }

    .imgProject {
        width: 70%;
    }

    .content,
    .reverse .content {
        display: none;
    }
  
  }


@media only screen and (min-width: 321px) and (max-width: 767px) {

    .container {
        margin-top: 0;
    }

    .imgProject {
        width: 90%;
    }

    .content,
    .reverse .content {
        display: none;
    }

    .reverse .imgContainer {
        padding-top: 230px;
    }

    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .imgContent {
        width: 100%;
    }

    .firstDescription {
        font-size: 1.125rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 926px) {

    .imgContainer{
        margin-bottom: 35px;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .title {
        text-align: center;
        position: static;
    }

}