.App {
  min-height: 100vh;
  flex-direction: column;
}

* {
  font-family: "Satoshi Light", serif;
}

:root {
  --primary-color-text: #e8630a;
  --secondary-color-text: #3d155f;
  --dark-color: #1D1E1F;
  --light-color: #dac5a7;
}

.primary-btn-global {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--light-color);
  text-align: center;
  color: var(--light-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}